<div class="container-fluid">
  <span class="filter p-1 rounded-1" *ngIf="textFilter">{{selectedFilterText}}
    <i class="fas fa-times" (click)="deleteFilter()"></i>
  </span>
    <div class="w-50 m-auto position-relative">
        <div class="position-relative w-100">
            <input type="search" class="p-2 w-100 pe-5 bg-white"  
            placeholder="Search in category..">
            <div class="position-absolute end-0 search top-0 h-100 text-center">
              <i class="fas fa-search py-3 text-white"></i>
            </div> <!-- position-absolute -->
        </div> <!-- position-relative -->
    </div> <!-- w-50 -->
    <div class="row my-3">
      <div *ngFor="let product of paginatedItems; let i=index" class=" col-xl-4 col-lg-6 p-2">
        <div class="product p-3 w-100  rounded-2  position-relative " [routerLink]="['/productDetails',product.id]">
          <div class="text-center">
            <img [src]="product.imageUrl" [alt]="product.title" class="w-75 " height="170" >
          </div>
          <h6 class="py-2"><a [routerLink]="['/productDetails',product.id]">{{product.title|title}}</a></h6>
          <div class="stars-icon">
            <ng-container *ngFor="let star of [].constructor(product.rating); let i = index">
                <i class="fas fa-star "></i>
            </ng-container>
            <span>({{product.countRated}})</span>
          </div> <!-- stars-icon -->
          <span class="fw-bold">{{product.randomPrice-product.randomOffer|currency}}</span>
          <span  class="px-2 text-decoration-line-through">{{product.randomPrice|currency}}</span>
          <button class="py-1 px-3 my-3 rounded-1 d-block">Add to cart</button>
          <span class="p-1 bg-danger text-white rounded-1 position-absolute top-0 end-0">Saved {{product.randomOffer|currency}}</span>
        </div> <!-- product -->
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination my-3">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link text-decoration-none " (click)="changePage(currentPage - 1)">Previous</a>
        </li>
        
        <li *ngIf="currentPage > 2" class="page-item">
          <a class="page-link text-decoration-none " (click)="changePage(1)">1</a>
        </li>
    
        <li *ngIf="currentPage > 3" class="page-item disabled">
          <span class="page-link text-decoration-none ">...</span>
        </li>
    
        <li *ngFor="let page of getPages()" class="page-item" [class.active]="page === currentPage">
          <a class="page-link text-decoration-none " (click)="changePage(page)">{{ page }}</a>
        </li>
    
        <li *ngIf="currentPage < totalPages - 2" class="page-item disabled">
          <span class="page-link text-decoration-none">...</span>
        </li>
    
        <li *ngIf="currentPage < totalPages - 1" class="page-item">
          <a class="page-link text-decoration-none " (click)="changePage(totalPages)">{{ totalPages }}</a>
        </li>
        
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link text-decoration-none " (click)="changePage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
            
    </div> <!-- row -->

</div> <!-- container-fluid -->
