<div class="container-fluid about py-5">
    <div class="row">
        <div class="col-xl-6 p-4">
            <div class="text-center">
                <img src="../assets/images/istockphoto-473850040-612x612.jpg" class="w-75" alt="">
            </div>
        </div> <!-- col-xl-6 -->
        <div class="col-xl-6 px-5">
            <div class="about-container ">
                <h5 class="py-3">DISCOVER US</h5>
                <h5 class="fw-bold py-2">Enjoy shopping with us & get discount</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ex sed sapiente, magnam id, quaerat quibusdam quam inventore ad soluta explicabo fuga accusamus cumque qui alias repudiandae nesciunt? Atque, suscipit.</p>
                <ul class="about-list position-relative list-unstyled">
                    <li class="py-2"><i class="fas fa-check-circle"></i> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus</li>
                    <li class="py-2"><i class="fas fa-check-circle"></i> Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</li>
                    <li class="py-2"><i class="fas fa-check-circle"></i> Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus</li>
                </ul>
                <button class="py-1 px-4 rounded-1 my-2" routerLink="/shopping">Shopping Now</button>
            </div>
        </div>
    </div>
</div>
