.sidebar{
    border: 1px solid var(--border-color);
    z-index: 8888888;
    box-shadow: 0px 2px 7px black;
    width: 25%;
}
.logo{
    color: var(--main-color);
   cursor: pointer;
}
@media screen and (max-width:992px){
    .sidebar{
        width: 100%;
    }
   
}